# Ignore VS Code settings
.vscode/

# Ignore build directories (root and nested)
build/
**/build/

# Ignore CMakeFiles directories (root and nested)
CMakeFiles/
**/CMakeFiles/

# Ignore Windows batch files
*.bat
